$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$bg-body-very-dark-blue: hsl(217, 54%, 11%);
$bg-card-very-dark-blue: hsl(216, 50%, 16%);
$line-very-dark-blue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
